body{
  background-color: #f4f4f4;
  font-family: Arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Global */

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.button-1{
  background-color: #e8491d;
  border: none;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  height: 38px;
  width: 100px;
}

.dark{
  padding: 15px;
  background-color: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul{
 margin: 0;
 padding: 0;
}

/* Header*/
header{
  background-color: #35424a;
  padding-top: 30px;
  border-bottom: solid 3px #e8491d;
  min-width: 70%;
  color: #ffffff;
}

header a{
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;

}

header li{
  float: left;
  padding: 0 20px 0 20px;
  display: inline;
}

header .branding{
  float: left;
}

header .branding h1{
  margin: 0;
  padding-bottom: 20px;
}

header nav {
float: right;
margin-top: 10px;
}

header .acme-highlight, header .highlight a{
  color: #e8491d;
  font-weight: bold;
}


header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* showcase */

#showcase{
  min-height: 400px;
  background-image: url("../images/showcase.jpg");
  background-repeat: no-repeat;
  background-position: 0 -400px;  /* 0 -400px are the x and y values img*/
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

/* newsletter */

#newsletter{
  color: #ffffff;
  background-color: #35424a;
  padding: 15px;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes*/

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  padding: 10px;
  width: 30%;
}

#boxes .box img{
  width: 90px;
}

article#main-col {
  float: left;
  width: 65%
}

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* Services*/
h1.page-title{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

li.service-page{
  border: solid 1px #cccccc;
  margin-bottom: 5px;
  padding: 20px;
  background-color: #e6e6e6;
  list-style: none;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/* Footer*/

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
